<div class="btn btn-default">
    <%= link_to 'Add Notes', new_note_path %>
</div>

<ul>
  <% @notes.each do |note| %>
    <li>
      <%= note.title %>
      <%= link_to 'Edit', edit_note_path(note.id) %>
      <%= link_to 'Delete', note_path(note), :method => 'delete' %>
      <%= link_to 'Share',note_share_note_path(note.id), :remote=>true %>
     </li>
  <% end %>
</ul>


<div id = "modal">

</div>

