<!DOCTYPE html>
<html>
<head>
  <title>WriteBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/user_widget' %><br />
  <%= flash[:success]%><br />
  <%= flash[:notice]%><br />
  
  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
